body {
    background: #000;
}
li {
    color: #fff;
}
span {
    color: red;
    border: 1px solid red;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 0 0 0 5px;
}
